services:
  mongo1:
    build: .
    container_name: mongo_rs0
    restart: unless-stopped
    ports:
      - "27017:27017"
    networks:
      - mongo-cluster
    volumes:
      - mongo1_data:/data/db
    env_file:
      - .env

  mongo2:
    build: .
    container_name: mongo_rs1
    restart: unless-stopped
    ports:
      - "27018:27017"
    networks:
      - mongo-cluster
    volumes:
      - mongo2_data:/data/db
    env_file:
      - .env

  mongo3:
    build: .
    container_name: mongo_rs2
    restart: unless-stopped
    ports:
      - "27019:27017"
    networks:
      - mongo-cluster
    volumes:
      - mongo3_data:/data/db
    env_file:
      - .env

  mongo-express:
    image: mongo-express:latest
    container_name: mongo-express
    ports:
      - "8081:8081"
    networks:
      - mongo-cluster
    env_file:
      - .env

networks:
  mongo-cluster:
    driver: bridge

volumes:
  mongo1_data:
  mongo2_data:
  mongo3_data:
